<div class="board">
    <div class="board_title">
        <%= @board.name %>
        <%= image_tag 'Combined Shape' %>
    </div>
    <div class="board_content">
        <%= @board.description %>
    </div>
    <div class="board_detail">
        <%= image_tag 'default-avatar.png' %>
    </div>
</div>