<div class="board">
    <div class="board_title">
        <%= @board.name %>
        <div class="dropdown">
            <%= image_tag 'Combined Shape', class: 'dropbtn' %>
            <div class="dropdown-content mini">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="board_content">
        <%= @board.description %>
    </div>
    <div class="board_detail">
        <%= image_tag 'default-avatar.png' %>
    </div>
</div>