@import 'variables';

$avatar-size: 40px;
$container-padding: 16px;

.comment {
    background-color: white;
    margin: 16px 10px;
    position: relative;
    border-radius: 10px;
    
    height:60px;

    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    
        
    &_detail {
        padding-top: 10px;
        font-size: 12px;
        position: relative;
        display: flex;
        justify-content: space-around;
        
    
        img {
            cursor: pointer;
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 100%;
            position: absolute;
            top: 10px;
            left: 20px;
            
        }
    
    
    }
    
    
}
