@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: $header-padding-y 16px;
    font-weight: bold;
    border-bottom: solid 3px $base-bg-color;

    &_pageTitle {
        color: $text-base-color;
        line-height: $avatar-size;
        font-size: $font-lg;
    }

    &_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
    }
}

